* {
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	width: 100%;
	background-color: #fed1ca;
	background-image: url(./fundo4.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'roboto', sans-serif;
}

header {
	padding: 35px 0;
	text-align: center;
	max-width: 300px;
	border: 1px;
	margin: 0 auto;
	font-size: 20px;
	margin-bottom: 4px;
}

@font-face {
	font-family: "Siamese Katsong";
	src: url(./SiameseKatsong.woff);
}

.btn {
	width: auto;
	border: 0px;
	padding: 8px;
	border-radius: 10px;
	font-family: 'roboto', sans-serif;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;
}

.btn-red {
	background-color: #CE3737;
	color: white;
	box-shadow: 0 5px 0 rgb(104, 48, 47);
}

.btn-red:hover {
	background-color:#CE3737;
	color: rgb(27, 17, 17);
	box-shadow: 0 5px 0 rgb(39, 16, 16);
}

.btn-red:active {
	box-shadow: none;
	position: relative;
	top: 5px;
}

.whatsapp {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 5px;
	right: 5px;
	text-align: center;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	font-size: 30px;
	z-index: 1000;
}

.fa-whatsapp {
	margin: 16px;
}

a {
	font-size: 15px;
	color: white;
	text-decoration: none;
}

h1 {
	font-family: 'Siamese Katsong', sans-serif;
	font-size: 50px;
	text-shadow: 0px 5px 0px rgb(83, 81, 81);
}

h2 {
	text-transform: uppercase;
	font-family: 'Siamese Katsong', sans-serif;
	text-shadow: 5px 5px 5px darkred;
}

h3 {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 5px;
}

.itens {
width: 100px;
}

img {
	width: 300px;
}
span {
	color: #CE3737;
	text-shadow: 0px 5px 0px darkred;
}

.subtitle {
	color: #CE3737;
	font-size: 20px;
	margin-bottom: 10px;
}

section {
	border-radius: 30px;
	width: 300px;
	margin: 10px auto;
	padding: 15px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	box-shadow: 0 0 2em rgb(104, 48, 47);
}

section h2 {
	border-radius: 30px;
	background-color: #ce3737;
	padding: 8px;
	text-align: center;
	margin-bottom: 5px;
	font-size: 25px;

}
ul li {
	margin-bottom: 16px;
	display: flex;
}

.rodape {
	width: 100%;
	background-color: red;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}
