

body {
    background-color: pink;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(fundo7.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

span {
	color: rgb(199, 56, 52);
}

h1 {
    text-transform: uppercase;
    color: Black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-shadow: 2px 2px 2px rgb(104, 48, 47);
}

.subtittle {
    text-align: center;
    color: rgb(199, 56, 52);
    margin: 0;
   	font-weight: bold;
}

.base {
    max-width: auto;
    margin: auto;
    border-radius: 5px;
}

#principal {
    width: 300px;
    height: 500px;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    box-shadow: 0 0 2em rgb(104, 48, 47);
    -webkit-backdrop-filter: blur(20px);
}

.logotipo  {
    margin: 20px;
    border-radius: 50%;
    box-shadow: 0 0 2em rgb(104, 48, 47);
}

     /*     INICIO CONFIGURAÇÃO DO BOTÃO         */

.btn {
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Siamese Katsong', sans-serif;*/
    margin: 5px;
    padding: 10px 1px;
    border: 0px;
    border-radius: 20px;
    background-color: #CE3737;
	color: rgb(27, 17, 17);
	box-shadow: 0 5px 0 #890101;
}

.btn-red:hover {
	background-color:#CE3737;
	color: rgb(27, 17, 17);
	box-shadow: 0 5px 0 rgb(39, 16, 16);
}

.btn-red:active {
	box-shadow: none;
	position: relative;
	top: 5px;
}

 /*     FIM CONFIGURAÇÃO DO BOTÃO         */

li {
    list-style-type: none;
}

a {

    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

footer {
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(146, 39, 39, 0.397);
}
