* {
	margin: 0;
	padding: 0;
}

header {
	padding: 35px 0;
	text-align: center;
}

header h1 span {
	color: #CE3737;
}

.subtitle {
	color: #CE3737;
	font-size: 20px;
}

body {
	background-color: #fed1ca;
	background-image: url(background.png);
	background-repeat: repeat;
	background-size: contain;
	background-attachment: fixed;
	
	font-family: 'roboto', sans-serif;
}

ul {
	list-style-type: none;
}

header h1 {
	font-size: 50px;
	margin-bottom: 4px;
}

section {
	margin-bottom: 24px;
}

section,
header {
	max-width: 300px;
	border: 1px;
	margin: 0 auto;
}

section h2 {
	background-color: #CE3737;
	padding: 8px 16px;
	text-align: center;
	margin-bottom: 24px;
	font-size: 16px;
}

ul li {
	margin-bottom: 16px;
	display: flex;
}

li .details {
	max-width: 240px;
}

h3 {
	font-size: 16px;
	margin-bottom: 8px;
}

/* FONTS */
h1,
h2,
h3,
.price {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #2d2c2a;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  footer {
	text-align: center;
	margin-bottom: 20px;
	font-size: 15px;
	text-transform: uppercase;
  }
  div {
	padding: 5px;	
  }
